extends layout

block content
    h1 #{person.title}

    p
        a(href='/people') All people:
    if relations.length
        p #{person.title} knows #{relations.length} other skills:
        ul.persons
            for other in relations
                li.person
                    a(href='/skills/#{other.id}') #{other.title}
    else
        p #{person.title} has no relations.



    if others.length
        form(action='/people/#{person.id}/relate', method='POST')
            p What else do you know?
            label
                select(name='person[id]', required)
                    options(value='')
                    for skill in others
                        option(value='#{skill.id}') #{skill.title}
            input(type='submit', value='This!')
        p Add your own?
    else
        p No other suggestions, add your own?

            
